<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/media/weather-icon.ico">
    <link rel="stylesheet" href="/css/styles.css" >
</head>

<body>
    <div class="main-content">    
        {{>header}}
        <p>This site was created by Ghazi Majdoub.</p>
        <p>It uses data from mapbox.com and darksky.net.</p>
        <img class="portrait" src="/media/photo.jpg">
    </div>

    {{>footer}}
</body>

</html>