<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/media/weather-icon.ico">
    <link rel="stylesheet" href="/css/styles.css" >
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
    </div>

    {{>footer}}
</body>

</html>