<!DOCTYPE html>

<html>
<head>
    <title>Weather App.</title>
    <link rel="icon" href="/media/weather-icon.ico">
    <link rel="stylesheet" href="/css/styles.css" >
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather ...</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="log-message"></p>
        <p id="forecast-message"></p>
    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>